<div class="app">
    <mat-toolbar class="app__toolbar" color="primary">
        <button (click)="isExpanded = !isExpanded" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="app__toolbar-header">PEM Admin</h1>
    </mat-toolbar>
    <!--  <div class="app__content">
        <div class="app__login">
            <div class="app__login-header">
                {{'pharmacy ecommerce manament sysyem'}}
            </div>
            <div class="app__login-content">
                <mat-form-field class="app__login-field -username">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="admin@maillinator.com">
                </mat-form-field>

                <mat-form-field class="app__login-field -password">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Ex. It makes me feel..." value="123123123" />
                </mat-form-field>
            </div>
            <div class="app__login-action">
                <a class="app__login-reset-pw">Reset password</a>
                <button class="app__login-btn" mat-raised-button color="accent">Login</button>
            </div>
        </div>
         <div class="app__login">
            <div class="app__login-header">
                {{'Reset password'}}
            </div>
            <span></span>
            <div class="d-flex align-items-center justify-content-center gap-3 w-100">
                <mat-form-field class="app__login-field -username">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="admin@maillinator.com">
                </mat-form-field>
                <button class="app__login-btn" mat-raised-button color="accent">Reset</button>
            </div>
            <div class="d-flex justify-content-end">

            </div>
        </div>
    </div>-->

    <mat-sidenav-container class="app__container bg-white">
        <mat-sidenav [(opened)]="isExpanded" class="w-full h-full" mode="side">
            <app-sidenav></app-sidenav>
        </mat-sidenav>
        <mat-sidenav-content class="bg-white">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
