<div class="app">
    <mat-toolbar class="app__toolbar" color="primary">
        <button (click)="isExpanded = !isExpanded" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="app__toolbar-header">PEM Admin</h1>
    </mat-toolbar>
    <mat-sidenav-container class="app__container bg-white">
        <mat-sidenav [(opened)]="isExpanded" class="w-full h-full" mode="side">
            <app-sidenav></app-sidenav>
        </mat-sidenav>
        <mat-sidenav-content class="bg-white">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

