:root{
    --admin-primary-color: #ffbe98;
    --admin-accent-color: #98d9ff;
    --admin-warn-color: #ff98a6;
    --admin-background-color: #fafafa;
    --admin-text-color: (black, 0.87);
    --admin-border-color: #ececec;
    --admin-defaul-border: 1px solid #ececec;
    --font-base: 'Inter', sans-serif
}

