category-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.category-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;

    --mat-table-header-headline-font: 'Inter';
    --mat-table-header-container-height: 3rem;
    --mat-table-header-headline-line-height: 1.5rem;
    --mat-table-row-item-container-height: auto;

    &__table {
        border: var(--admin-defaul-border);
        font-family: 'Inter', sans-serif;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        // /height: 100%;
        position: relative;
        overflow: auto;

        .mdc-data-table__content {
            overflow: auto;
        }
    }

    &__header-row,
    .mat-mdc-header-row {
        width: 100%;
        display: grid;
        //justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        border-radius: 0.5rem 0.5rem 0 0;
        border: var(--admin-defaul-border);
        background: var(--admin-background-color);
        grid-template-columns: 20% 30% 20% 20% 10%;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
    }

    &__table-header-cell {
        --mat-table-row-item-outline-color: unset;
        --mat-table-row-item-outline-width: 0px;
        //border-bottom: unset !important;
    }

    &__row {
        width: 100%;
        display: grid;
        //justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        background: var(--admin-background-color);
        grid-template-columns: 20% 30% 20% 20% 10%;
        border: var(--admin-defaul-border);
    }

    &__table-data-cell {
        --mat-table-row-item-outline-color: unset;
        --mat-table-row-item-outline-width: 0px;
        //border-bottom: unset !important;
    }

    &__image {
        object-fit: cover;
        border: var(--admin-defaul-border);
        border-radius: 0.5rem;
    }

    &__action-group {
    }

    &__loading {
        &.mat-mdc-progress-spinner {
            position: absolute;
            top: 40%;
            left: 50%;
        }
    }

    &__data {
        display: grid;
        width: 100%;

        border-bottom: 1px solid #ececec;
        min-height: 48px;
        align-items: center;
        padding: 8px 0;
    }

    &__data-temp {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        padding-left: 24px;
    }
}
