category-table{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.category-table{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	border-radius: 0.5rem;
	--mat-table-header-headline-font: 'Inter';
	--mat-table-header-container-height: 3rem;
	--mat-table-header-headline-line-height: 1.5rem;
	--mat-table-row-item-container-height: auto;

	&__table{
		border: var(--admin-defaul-border);
		font-family: 'Inter', sans-serif;
	}

	&__header-row, .mat-mdc-header-row{
		width: 100%;
		display: grid;
		//justify-content: space-between;
		align-items: center;
		padding: 0.5rem;
		border-radius: 0.5rem 0.5rem 0 0;
		border: var(--admin-defaul-border);
		background: var(--admin-background-color);
		grid-template-columns: 20% 30% 20% 20% 10%;
		font-weight: 700;
		font-size: 16px;
		text-transform: uppercase;
	}

	&__table-header-cell{
		--mat-table-row-item-outline-color: unset;
		--mat-table-row-item-outline-width: 0px;
		//border-bottom: unset !important;
	}

	&__row{
		width: 100%;
		display: grid;
		//justify-content: space-between;
		align-items: center;
		padding: 0.5rem;
		background: var(--admin-background-color);
		grid-template-columns: 20% 30% 20% 20% 10%;
		border: var(--admin-defaul-border);
	}

	&__table-data-cell{
		--mat-table-row-item-outline-color: unset;
		--mat-table-row-item-outline-width: 0px;
		//border-bottom: unset !important;
	}

	&__image{

		object-fit: cover;
		border: var(--admin-defaul-border);
		border-radius: 0.5rem;
	}

	&__action-group{}
}
