<div class="app-header">
	<div class="app-header__container container">
		<img
			alt="logo"
			class="app-header__logo"
			src="assets/images/logo.png"
		>

		<pem-search-product class="app-header__search">
		</pem-search-product>

		<div class="d-flex align-items-center justify-end gap-3 app-header__menu">
			@if (authService.getUserData() != null) {
				<span
					class="app-header__login-name"
				>
					{{ 'Xin chào:' }} {{ authService.userFullName }}
				</span>
			} @else {
				<div
					(click)="onClickLogin()"
					class=" d-flex rounded-pill app-header__login-btn"
				>
					<i class="svg-icon user-icon size-24 white"></i>
					<span class="app-header__login-btn-text">
                        {{ 'Đăng nhập'| translate | titlecase }}
                </span>
				</div>
			}
			<div class=" d-flex rounded-pill app-header__login-btn">
				<i class="svg-icon cart size-24 white "></i>
				<span class="app-header__login-btn-text">
                        {{ 'Giỏ hàng'| translate | titlecase }}
				</span>
			</div>

		</div>
	</div>
</div>
