category-management {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
}

.category-management {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 1rem;

    &__header {
        padding: 1rem;
        border-radius: 0.5rem;
        border: var(--admin-defaul-border);
        background-color: var(--admin-background-color);
    }

    &__body {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: white;
        padding-top: 1rem;
        overflow: auto;
    }
}
