//import css
@use '@angular/material' as mat;

@include mat.core();
@import '~bootstrap/dist/css/bootstrap.css';

@import 'ngx-toastr/toastr';


/* You can add global styles to this file, and also import other style files */
@import './assets/styles/themes/variables';
@import './assets/styles/extensions/layout';
@import './assets/styles/utilities';
@import './assets/styles/svg-icon';

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
