input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button{
	-webkit-appearance: none;
	margin: 0;
}

input{
	//padding: 0.5rem !important;
	line-height: 20px;
	//border-radius: 0.25rem;
	//border: 1px solid #ececec;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	color: #727272;

	&:focus-visible{
		outline: none;
	}

	&:focus{
		outline: none;
	}

	&:read-only{
		///background-color: (var(--admin-accent-color), 0.75)
		border-color: #ececec;
	}

	&.-no-border{
		border: none;
	}
}

.required-mark{
	color: red;
}
