login {
	display: flex;
	gap: 0.5rem;
}

.login {
	display: flex;
	gap: 0.5rem;
	height: 100%;
	border-radius: 0.5rem;
	
	
	&__panel {
		width: 50%;
		background-size: cover;
	}
	
	&__title {
		font-size: 1.5rem;
		text-transform: uppercase;
		font-weight: 400;
		color: var(--text-base-color);
		margin-bottom: 1rem;
	}
	
	&__content {
		width: 50%;
		display: flex;
		flex-direction: column;
		///justify-content: center;
		align-items: center;
		padding: 3rem;
		gap: 1rem;
	}
	
	&__form {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}
	
	&__form-group {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	&__form-input {
		width: 100%;
		border: 1px solid #d1d3e2;
		padding: 1.25rem 2rem;
		color: var(--text-base-color);
		
		&:focus {
			background-color: #ffffff;
			border-color: #bac8f3;
			outline: 0;
			box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, .25);
		}
	}
	
	&__login-btn {
		--mdc-filled-button-container-height: 48px;
		display: inline-flex;
		padding: 0.75rem 1rem;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	
	&__action {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		align-items: center;
		justify-content: center;
	}
	
	&__action-text {
		color: var(--blue);
		text-decoration: none;
		cursor: pointer;
		background-color: transparent;
		
		&:hover {
			text-decoration: underline;
		}
	}
	
}