<form *ngIf="form && vm() as vm" class="product-detail">
    <div class="product-detail__header pb-3">
        <span class="product-detail__title">{{ 'Add Product'| translate | titlecase }}</span>
        <i (click)="onClosePopup()" class="svg-icon close-icon size-16 product-detail__close-icon"></i>
    </div>
    <mat-divider class="product-detail__divider"></mat-divider>
    <div [formGroup]="form" class="product-detail__body">
        <form class="example-form row-cols-2">
            <mat-form-field floatLabel="always" class="example-full-width col-6 px-3">
                <mat-label>Code</mat-label>
                <input matInput placeholder="ER12323">
            </mat-form-field>
            <mat-form-field floatLabel="always" class="example-full-width col-6 px-3">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Paracetamol">
            </mat-form-field>
            <!-- <mat-form-field floatLabel="always" class="example-full-width col-6 px-3">
                <mat-label>Publish</mat-label>
                <mat-checkbox></mat-checkbox>
            </mat-form-field> -->
            <mat-form-field floatLabel="always" class="example-full-width col-6 px-3">
                <mat-label>Pakage Unit</mat-label>
                <input matInput placeholder="Hộp">
            </mat-form-field>
            <mat-form-field floatLabel="always" class="example-full-width col-6 px-3">
                <mat-label>Product Form</mat-label>
                <input matInput placeholder="Vien Nang">
            </mat-form-field>
            <mat-form-field floatLabel="always" class="example-full-width col-6 px-3">
                <mat-label>Category</mat-label>
                <input matInput placeholder="thuoc">
            </mat-form-field>
            <mat-form-field floatLabel="always" class="example-full-width col-6 px-3">
                <mat-label>Slug</mat-label>
                <input matInput placeholder="paracetamol-500">
            </mat-form-field>
            <mat-form-field floatLabel="always" class="example-full-width col-6 px-3">
                <mat-label>Slug</mat-label>
                <input matInput placeholder="Paracetamol">
            </mat-form-field>
            <mat-form-field floatLabel="always" class="example-full-width col-6 px-3">
                <mat-label>Full Path Slug</mat-label>
                <input matInput placeholder="thuoc/paracetamol-500">
            </mat-form-field>
            <mat-form-field floatLabel="always" class="example-full-width col-6 px-3">
                <mat-label>ImgsURL</mat-label>
                <input matInput placeholder="https://cih.com.vn/images/09.2019/tim-mach-1.jpg">
            </mat-form-field>
            <mat-form-field floatLabel="always" class="example-full-width col-6 px-3">
                <mat-label>Specification</mat-label>
                <input matInput placeholder="Hộp x 6 vỉ x 10 viên">
            </mat-form-field>
            <mat-form-field floatLabel="always" class="example-full-width col-6 px-3">
                <mat-label>Price</mat-label>
                <input matInput placeholder="500">
                <span matSuffix class="opacity-75 px-3">Vnd</span>
            </mat-form-field>
            <mat-form-field floatLabel="always" class="example-full-width col-6 px-3">
                <mat-label>Brand</mat-label>
                <input matInput placeholder="Dược Thái Bình">
            </mat-form-field>
        </form>
    </div>
    <mat-divider class="product-detail__divider"></mat-divider>
    <div class="product-detail__footer">
        <button mat-raised-button color="accent">Add</button>
    </div>
</form>
