<div class="w-100 d-inline-flex items-center bg-white rounded-pill p-2 gap-2 search-product">
    <input [formControl]="searchFormControl"
           autocomplete="off"
           class="w-100 search-product__input"
           placeholder="Tìm tên thuốc, bệnh lý, thực phẩm chức năng..."
           type="text"
    />
    <div class="d-inline-flex align-items-center justify-content-center p-1 rounded-pill search-product__btn ">
        <i class="svg-icon search-icon active size-32"></i>
    </div>
</div>

